
# Backend
PORT=0000

# Database Connection
DB_HOST=anyname
DB_PORT=0000
DB_NAME=name
DB_USER=user
DB_PASSWORD=yourpass

# MySQL Initialization
MYSQL_ROOT_PASSWORD=yourrootpass
MYSQL_DATABASE=dbname
MYSQL_USER=user
MYSQL_PASSWORD=pass
MYSQL_PORT=0000
